[mongodb-org-{{ MONGODB_VERSION }}]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ MONGODB_VERSION }}/x86_64/
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-{{ MONGODB_VERSION }}.asc
